version: "3.9"

services:
  nginx:
    image: bmpcourse/acadvault-deploy:nginx-latest
    restart: always
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"

  client:
    image: bmpcourse/acadvault-deploy:frontend-latest
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_BASE_URL=${VITE_API_BASE_URL}
      - VITE_AUTH0_DOMAIN=${VITE_AUTH0_DOMAIN}
      - VITE_AUTH0_CLIENT_ID=${VITE_AUTH0_CLIENT_ID}
      - VITE_AUTH0_CALLBACK_URL=${VITE_AUTH0_CALLBACK_URL}
      - VITE_AUTH0_AUDIENCE=${VITE_AUTH0_AUDIENCE}

  server:
    image: bmpcourse/acadvault-deploy:backend-latest
    environment:
      - MONGODB_CONNECTION_STRING=${MONGODB_CONNECTION_STRING}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - AUTH0_ISSUER_BASE_URL=${AUTH0_ISSUER_BASE_URL}